extends layout

block content
  link(rel='stylesheet', href='/stylesheets/md.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-treeview.min.css')
  script(type='text/javascript').
      const current = !{JSON.stringify(current)};
  nav
    ol.breadcrumb
      - if(ancestors && ancestors.length)
        - for(var item of [...ancestors, current])
          li.breadcrumb-item
            a(href=`/md/${item.id}`)= item.name
      - else
        li.breadcrumb-item
          a(href='#') root
  - if(current.type === 'root' || current.type === 'folder')
    .toolbar
      .btn-group.btn-group-sm.mb-3(role='group', id='toolbar_actions')
        button.btn.btn-info(id='select_all_action') Select All
        button.btn.btn-info(id='deselect_all_action', style='display:none;') Deselect All
        button.btn.btn-secondary.toolbar-action(id='move_action') Move
        button.btn.btn-secondary.toolbar-action(id='rename_action') Rename
        button.btn.btn-secondary.toolbar-action(id='delete_action') Delete
      form.create-form.form-inline.mb-3(action=`/md/${current._id}/new`, method='POST')
        .input-group.input-group-sm
          input.form-control(type='text', name='name', value='', placeholder='Name')
          .input-group-append
            select.custom-select.custom-select-sm(name='type')
              option(value='markdown', selected=true) Markdown File
              option(value='folder') Folder
          .input-group-append
            input.btn.btn-sm.btn-primary(type='submit', value='Create')
    .modal(tabindex='-1', role='dialog', id='main-modal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title(id='main-modal-title') Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(id='main-modal-body')
            p Modal body text goes here.
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id='main-modal-submit', data-dismiss='modal') Ok
    .modal(tabindex='-1', role='dialog', id='notify-modal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title(id='notify-modal-title') Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body(id='notify-modal-body')
            p Modal body text goes here.
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id='notify-modal-submit', style="display: none;", data-dismiss='modal') Ok
  - if(current.type === 'root' || current.type === 'folder')
    div.explorer.mb-3
      div.explorer-header
      table.explorer-files
        - for(var child of children)
          tr.explorer-item(data-id=child._id)
            td.explorer-icon
              - if(child.type === 'folder' || child.type === 'root')
                svg.octicon.octicon-file-directory(aria-label='directory' viewbox='0 0 14 16' version='1.1' width='14' height='16' role='img')
                  path(fill-rule='evenodd' d='M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z')
              - else
                svg.octicon.octicon-file(aria-label='file', viewBox='0 0 12 16', version='1.1', width='12', height='16', role='img')
                  path(fill-rule='evenodd', d='M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z')
            td.content
              a(href=`/md/${child._id}`)= child.name
            td.message
            td.age
              span= child.last_updated.toDateString() + ', ' + child.last_updated.toLocaleTimeString()
    script(src='/javascripts/file_explorer.js')
    script(src='/javascripts/bootstrap-treeview.min.js')
  - else
    div.markdown
      textarea(id='md-textarea')
    script(src='/javascripts/easymde.min.js')
    script(src='/javascripts/md.js')